.glyphicon-refresh-animate {
		-animation: spin 1s infinite linear;
		-webkit-animation: spin2 1s infinite linear;
	}

	@-webkit-keyframes spin2 {
		from { -webkit-transform: rotate(0deg);}
		to { -webkit-transform: rotate(360deg);}
	}

	@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.header-padding-left {
	padding-left : 10px
}

.max-width {
	width: 100%
}

.build-monitor-background {
	background : #000000;
	height : 100%;
}

.header-color {
	color : #fefefe
}

.row{
	max-width: 96% !important;
}

.max-height{
	height: 100%;
}

.centre{
	width: 50%;
	margin: 0 auto;
}
