<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/ie8/0.2.2/ie8.js"></script>
    <![endif]-->

    <!-- vendor:css -->
    <!-- endinject -->
    <!-- vendor:woff -->
    <!-- endinject -->
    <!-- vendor:ttf -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- live reload -->
    <!-- @if ENV='dev' -->
    <title>Build Status</title>
</head>

<body class="build-monitor-background ">

    <div id="buidList" class="container">
        <div class="large-4 columns tile-column">
            <h5 class="header-color">
                SUCCESSFUL
            </h5>
            <div class="row collapse tile-row" v-bind:class="getPanelClass(tile)" v-for="tile in successfulBuilds">
                <div class="large-12 columns">
                    <hgroup>
                        <h1 class="project no-text-overflow">
                            {{ tile.project }}
                        </h1>
                        <h3 class="build-type no-text-overflow">
                            <span class='build-name-text'>{{tile.buildName}}</span>
                            <span class='branch-name-text'>{{tile.branchName}}</span>
                        </h3>
                    </hgroup>
                </div>
                <div class="large-12 columns author">
                    <h4>
                        <span class="no-text-overflow pull-left">{{tile.triggerDate}}</span>
                        <span class="no-text-overflow pull-right">{{tile.whoTriggered}}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="large-4 columns tile-column">
            <h5 class="header-color">
                FAILED
            </h5>
            <div class="row collapse tile-row" v-bind:class="getPanelClass(tile)" v-for="tile in failedBuilds">
                <div class="large-12 columns">
                    <hgroup>
                        <h1 class="project no-text-overflow">
                            {{ tile.project }}
                        </h1>
                        <h3 class="build-type no-text-overflow">
                            <span class='build-name-text'>{{tile.buildName}}</span>
                            <span class='branch-name-text'>{{tile.branchName}}</span>
                        </h3>
                    </hgroup>
                </div>
                <div class="large-12 columns author">
                    <h4>
                        <span class="no-text-overflow pull-left">{{tile.triggerDate}}</span>
                        <span class="no-text-overflow pull-right">{{tile.whoTriggered}}</span>
                    </h4>
                </div>
            </div>
            <div class="row collapse tile-row" v-if="showRefactorMessage()">
                <h1 class="quote">"It's time to refactor!"</h1>
            </div>
        </div>
        <div class="large-4 columns tile-column">
            <h5 class="header-color">RUNNING
                <span class="pull-right"> AGENTS&nbsp; <i v-bind:class="getAgentThermometerClass()" aria-hidden="true"></i></span>
            </h5>
            <div class="row collapse tile-row" v-bind:class="getPanelClass(tile)" v-for="tile in runningBuilds">
                <div class="large-12 columns">
                    <hgroup>
                        <h1 class="project no-text-overflow">
                            <span class="build-progress">
                                {{tile.percentageComplete}}%
                            </span>
                            <span>{{ tile.project }}</span>
                        </h1>
                        <h3 class="build-type no-text-overflow">
                           <span class='build-name-text'>{{tile.buildName}}</span>
                            <span class='branch-name-text'>{{tile.branchName}}</span>
                        </h3>
                    </hgroup>
                </div>
                <div class="large-12 columns author">
                    <h4>
                        <span class="no-text-overflow pull-left">
                                        <span class="build-agent">{{tile.agent}}</span>
                        </span>
                        <span class="no-text-overflow pull-right">{{tile.whoTriggered}}</span>
                    </h4>
                </div>
            </div>
            <div class="row collapse tile-row" v-bind:class="getPanelClass(tile)" v-for="tile in queuedBuilds">
                <div class="large-12 columns">
                    <hgroup>
                        <h1 class="project no-text-overflow">
                            <span class="build-progress">
                                <i class="fa fa-hourglass-start build-progress" aria-hidden="true"></i>
                            </span>
                            <span>{{ tile.project }}</span>
                        </h1>
                        <h3 class="build-type no-text-overflow">
                            <span class='build-name-text'>{{tile.buildName}}</span>
                            <span class='branch-name-text'>{{tile.branchName}}</span>
                        </h3>
                    </hgroup>
                </div>
                <div class="large-12 columns author">
                    <h5>
                        <span class="no-text-overflow pull-left">
                                       <span class="build-agent">Queued</span>
                        </span>
                        <span class="no-text-overflow pull-right">{{tile.whoTriggered}}</span>
                    </h5>
                </div>
            </div>
            <div class="row collapse tile-row" v-if="showQuote()">
                <h1 class="quote">"{{quote}}"</h1>
            </div>
            <div class="row collapse tile-row">
                <div class="large-12 columns">
                    <img class="logo" src="assets\Entelect-logo.png" />
                </div>
            </div>
        </div>
    </div>

    <div id="incidentList" class="container">
      <div class="large-4 columns tile-column">
          <h5 class="header-color">
              SUCCESSFUL
          </h5>
          <div class="row collapse tile-row" v-bind:class="getPanelClass(tile)" v-for="tile in successfulBuilds">
              <div class="large-12 columns">
                  <hgroup>
                      <h1 class="project no-text-overflow">
                          {{ tile.project }}
                      </h1>
                      <h3 class="build-type no-text-overflow">
                          <span class='build-name-text'>{{tile.buildName}}</span>
                          <span class='branch-name-text'>{{tile.branchName}}</span>
                      </h3>
                  </hgroup>
              </div>
              <div class="large-12 columns author">
                  <h4>
                      <span class="no-text-overflow pull-left">Days since last incident: {{tile.daysSinceLastIncident}}</span>
                  </h4>
              </div>
          </div>
      </div>
      <div class="large-4 columns tile-column">
          <h5 class="header-color">
              FAILED
          </h5>
          <div class="row collapse tile-row" v-bind:class="getPanelClass(tile)" v-for="tile in failedBuilds">
              <div class="large-12 columns">
                  <hgroup>
                      <h1 class="project no-text-overflow">
                          {{ tile.project }}
                      </h1>
                      <h3 class="build-type no-text-overflow">
                          <span class='build-name-text'>{{tile.buildName}}</span>
                          <span class='branch-name-text'>{{tile.branchName}}</span>
                      </h3>
                  </hgroup>
              </div>
              <div class="large-12 columns author">
                  <h4>
                      <span class="no-text-overflow pull-left">{{tile.triggerDate}}</span>
                      <span class="no-text-overflow pull-right">{{tile.whoTriggered}}</span>
                  </h4>
              </div>
          </div>
          <div class="row collapse tile-row" v-if="showRefactorMessage()">
              <h1 class="quote">"It's time to refactor!"</h1>
          </div>
      </div>
      <div class="large-4 columns tile-column">
          <h5 class="header-color">RUNNING
              <span class="pull-right"> AGENTS&nbsp; <i v-bind:class="getAgentThermometerClass()" aria-hidden="true"></i></span>
          </h5>
          <div class="row collapse tile-row" v-bind:class="getPanelClass(tile)" v-for="tile in runningBuilds">
              <div class="large-12 columns">
                  <hgroup>
                      <h1 class="project no-text-overflow">
                          <span class="build-progress">
                              {{tile.percentageComplete}}%
                          </span>
                          <span>{{ tile.project }}</span>
                      </h1>
                      <h3 class="build-type no-text-overflow">
                         <span class='build-name-text'>{{tile.buildName}}</span>
                          <span class='branch-name-text'>{{tile.branchName}}</span>
                      </h3>
                  </hgroup>
              </div>
              <div class="large-12 columns author">
                  <h4>
                      <span class="no-text-overflow pull-left">
                                      <span class="build-agent">{{tile.agent}}</span>
                      </span>
                      <span class="no-text-overflow pull-right">{{tile.whoTriggered}}</span>
                  </h4>
              </div>
          </div>
          <div class="row collapse tile-row" v-bind:class="getPanelClass(tile)" v-for="tile in queuedBuilds">
              <div class="large-12 columns">
                  <hgroup>
                      <h1 class="project no-text-overflow">
                          <span class="build-progress">
                              <i class="fa fa-hourglass-start build-progress" aria-hidden="true"></i>
                          </span>
                          <span>{{ tile.project }}</span>
                      </h1>
                      <h3 class="build-type no-text-overflow">
                          <span class='build-name-text'>{{tile.buildName}}</span>
                          <span class='branch-name-text'>{{tile.branchName}}</span>
                      </h3>
                  </hgroup>
              </div>
              <div class="large-12 columns author">
                  <h5>
                      <span class="no-text-overflow pull-left">
                                     <span class="build-agent">Queued</span>
                      </span>
                      <span class="no-text-overflow pull-right">{{tile.whoTriggered}}</span>
                  </h5>
              </div>
          </div>
          <div class="row collapse tile-row" v-if="showQuote()">
              <h1 class="quote">"{{quote}}"</h1>
          </div>
          <div class="row collapse tile-row">
              <div class="large-12 columns">
                  <img class="logo" src="assets\Entelect-logo.png" />
              </div>
          </div>
      </div>
  </div>

    <!-- vendor:js -->
    <!-- endinject -->
    <script src="js/vendor/vue-resource.min.js"></script>

    <!-- inject:js -->
    <!-- endinject -->

</body>

</html>