.header-padding-left {
	/*padding-left : 10px*/
}

.max-width {
	width: 100%
}

.running {
	background: #013775;
	/*background: #0090D3;*/
}

.build-monitor-background {
	background : #000000
}

.build-agent{
	text-transform: uppercase;
}

.header-color {
	color : #fefefe
}

/*.row {
	margin-right: 0.5vw;
	margin-left: 0.5vw;
	padding: 0.1vh 0.2vw 0.1vh 0.2vw;
}*/

.tile-row {
	padding-bottom: 0.2vw;
}

.tile-column{
	padding-right: 0.3vw;
	padding-left: 0.3vw;
}

.build-progress {
	color: #9FC03B;
}

.label.entelect-success {
	background-color: #9FC03B;
}

.warning.entelect-warning {
	background-color: #FF9027;
}

.alert.entelect-red {
	background-color: #ED2915;
}

h1, h2, h3, h4, h5 {
	margin-bottom: 0.1vh;
}

.max-height{
	height: 100%;
}

.centre{
	width: 50%;
	margin: 0 auto;
}

.no-text-overflow {
	/*width: 50%;*/
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.project {
	font-family: 'Myriad Pro Bold';
	line-height: 4.3vh;
	text-transform: uppercase;
	margin: 0;
}

.build-type {
	font-family: 'Myriad Pro Bold';
	line-height: 3.4vh;
	margin: 0;
}

.author {
	font-size: 1.5em;
	float: right;
}


.time-since-trigger {
	text-align: right;
	font-size: 1em;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

/*.columns {
	padding: 0px;
}*/

body {
    overflow:hidden;
	font-family: 'Myriad Pro Bold', Arial, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1 small {
	color: white;
}

.logo {
	opacity: 0.5;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
	width: 33vw;
}

.quote {
	margin-top: 10vh;
	color: white; 
	text-align: center;
}

.branch-name-text{
	float: right;
}

.build-name-text{
	float: left;
}